<a href="https://colab.research.google.com/github/elanozturk/python/blob/main/Ders_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ödevi Listeli Yapalım
import requests

def coinfiyat(a):
  r = requests.get("https://api.coincap.io/v2/assets")
  veri = r.json()
  veri = veri.get("data")

  fiyatlar = {} #sözlük oluşturalım

  for coin in veri:
    sembol = coin["symbol"]
    price = float(coin["priceUsd"])
    fiyatlar[sembol]=price #sözlüğe elemanları ekleme
  return fiyatlar.get(a)

In [ ]:
coinfiyat("BTC")

42481.87037680162

In [ ]:
coinfiyat("ETH")

2195.8139768603446

In [ ]:
#Ödevi Listesiz Yapalım
import requests

def coinfiyat(a):
  r = requests.get("https://api.coincap.io/v2/assets")
  veri = r.json()
  veri = veri.get("data")

  for i in veri:
    if a == i ["symbol"]:
      price = float(i["priceUsd"])
  return price

In [ ]:
coinfiyat("ETH")

2193.3797104997675

#SQL

In [ ]:
import sqlite3

conn = sqlite3.connect("mahmut.sqlite")  #bu isimde bi db yoksa oluşturup bağlanır, varsa bağlanır.

c = conn.cursor()

In [19]:
c.execute("""CREATE TABLE IF NOT EXISTS cihazlar(
  isim TEXT,
  personel TEXT,
  marka TEXT,
  model TEXT,
  ssd INTEGER,
  ram INTEGER,
  fiyat REAL
)""")

In [18]:
conn.commit() # yapılan değişiklerin db'de etkili olması için çalıştıracağımız kod.

CRUD İŞLEMLER
create read update delete

#INSERT
#UPDATE
#SELECT
#DELETE

In [22]:
import sqlite3

conn = sqlite3.connect("my_db.sqlite")  #bu isimde bi db yoksa oluşturup bağlanır, varsa bağlanır.

c = conn.cursor()

c.execute("""CREATE TABLE IF NOT EXISTS cihazlar(
  isim TEXT,
  personel TEXT,
  marka TEXT,
  model TEXT,
  ssd INTEGER,
  ram INTEGER,
  fiyat REAL
)""")

c.execute("""INSERT INTO cihazlar VALUES(
    'Tarkan Tevetoğlu',
    'Furkan Kazan',
    'Apple',
    'iPhone 15 Pro Max',
    256,
    16,
    99000
    )""")

c.execute("""INSERT INTO cihazlar VALUES(
    'Mahmut Tuncer',
    'Furkan Kazan',
    'Apple',
    'iPhone 13 Pro ',
    512,
    16,
    20000
    )""")

conn.commit()

In [26]:
c.execute("SELECT * FROM cihazlar")
sonuc = c.fetchall()
sonuc

[('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'iPhone 13 Pro ',
  512,
  16,
  20000.0),
 ('Ajdar', 'Gökhan', 'Samsung', 'S24', 256, 16, 12000.0)]

In [24]:
def cihazekle(isim,personel,marka,model,ssd,ram,fiyat):
  conn = conn = sqlite3.connect("my_db.sqlite")
  c = conn.cursor()
  c.execute("INSERT INTO cihazlar VALUES(?,?,?,?,?,?,?)",
            (isim,personel,marka,model,ssd,ram,fiyat))
  conn.commit()

In [25]:
cihazekle('Ajdar','Gökhan','Samsung','S24',256,16,12000)

In [27]:
c.execute("SELECT * FROM cihazlar")
sonuc = c.fetchall()
sonuc

[('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'iPhone 13 Pro ',
  512,
  16,
  20000.0),
 ('Ajdar', 'Gökhan', 'Samsung', 'S24', 256, 16, 12000.0)]

In [34]:
def verigetir(tabloisim):
  conn = sqlite3.connect("my_db.sqlite")
  c = conn.cursor()
  komut = "SELECT * FROM "+tabloisim
  c.execute(komut)
  return c.fetchall()

In [35]:
verigetir("cihazlar")

[('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Tarkan Tevetoğlu',
  'Furkan Kazan',
  'Apple',
  'iPhone 15 Pro Max',
  256,
  16,
  99000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'iPhone 13 Pro ',
  512,
  16,
  20000.0),
 ('Ajdar', 'Gökhan', 'Samsung', 'S24', 256, 16, 12000.0)]