<a href="https://colab.research.google.com/github/elanozturk/python/blob/main/Ders_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

sampi = pd.read_csv("tcl.csv", delimiter=";")
sampi.head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [5]:
sampi["puanrevize"] = (sampi["won"])*3+sampi["drawn"]
sampi.head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,puanrevize
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [11]:
filtre = sampi["points"]<80
sampi[filtre]

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,puanrevize
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87
3,1962,Galatasaray,38,23,11,4,52,18,34,57,80
4,1963,Galatasaray,22,14,7,1,54,14,40,35,49
5,1964,Fenerbahce,34,21,11,2,55,14,41,53,74
6,1965,Fenerbahce,30,18,11,1,52,13,39,47,65
7,1966,Besiktas,30,20,8,2,52,16,36,48,68
8,1967,Besiktas,32,16,13,3,44,15,29,45,61
9,1968,Fenerbahce,32,19,11,2,38,12,26,49,68
10,1969,Galatasaray,30,19,8,3,49,14,35,46,65
11,1970,Fenerbahce,30,17,10,3,31,6,25,44,61
12,1971,Galatasaray,30,17,8,5,51,18,33,42,59
13,1972,Galatasaray,30,17,8,5,34,14,20,42,59
14,1973,Galatasaray,30,19,9,2,47,12,35,47,66
15,1974,Fenerbahce,30,15,13,2,39,15,24,43,58
16,1975,Fenerbahce,30,15,13,2,43,18,25,43,58
17,1976,Trabzonspor,30,17,9,4,36,14,22,43,60
18,1977,Trabzonspor,30,18,7,5,41,12,29,43,61
19,1978,Fenerbahce,30,17,8,5,48,24,24,42,59
20,1979,Trabzonspor,30,13,16,1,34,7,27,42,55
21,1980,Trabzonspor,30,12,15,3,25,11,14,39,51
22,1981,Trabzonspor,30,16,7,7,41,21,20,39,55
23,1982,Besiktas,32,14,16,2,38,17,21,44,58
24,1983,Fenerbahce,34,18,13,3,43,20,23,49,67
25,1984,Trabzonspor,34,18,14,2,43,14,29,50,68
26,1985,Fenerbahce,34,18,14,2,65,25,40,50,68
27,1986,Besiktas,36,22,12,2,65,21,44,56,78
28,1987,Galatasaray,36,23,8,5,55,24,31,54,77
31,1990,Besiktas,34,23,6,5,77,20,57,75,75
32,1991,Besiktas,30,20,9,1,63,24,39,69,69
33,1992,Besiktas,30,23,7,0,58,20,38,76,76
34,1993,Galatasaray,30,20,6,4,74,21,53,66,66
35,1994,Galatasaray,30,22,4,4,67,28,39,70,70
36,1995,Besiktas,34,24,7,3,80,26,54,79,79
39,1998,Galatasaray,34,23,6,5,86,43,43,75,75
40,1999,Galatasaray,34,23,9,2,85,30,55,78,78
41,2000,Galatasaray,34,24,7,3,77,23,54,79,79
42,2001,Fenerbahce,34,24,4,6,82,39,43,76,76
43,2002,Galatasaray,34,24,6,4,75,31,44,78,78
45,2004,Fenerbahce,34,23,7,4,82,41,41,76,76
48,2007,Fenerbahce,34,20,10,4,65,31,34,70,70
49,2008,Galatasaray,34,24,7,3,64,23,41,79,79
50,2009,Besiktas,34,21,8,5,60,30,30,71,71
51,2010,Bursaspor,34,23,6,5,65,26,39,75,75
53,2012,Galatasaray,34,23,8,3,69,24,45,77,77
54,2013,Galatasaray,34,21,8,5,66,35,31,71,71
55,2014,Fenerbahce,34,23,5,6,74,33,41,74,74
56,2015,Galatasaray,34,24,5,5,60,35,25,77,77
57,2016,Besiktas,34,25,4,5,75,35,40,79,79
58,2017,Besiktas,34,23,8,3,73,30,43,77,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75,75

In [12]:
filtre = sampi["points"]==sampi["puanrevize"]
sampi[filtre]

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,puanrevize
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93
31,1990,Besiktas,34,23,6,5,77,20,57,75,75
32,1991,Besiktas,30,20,9,1,63,24,39,69,69
33,1992,Besiktas,30,23,7,0,58,20,38,76,76
34,1993,Galatasaray,30,20,6,4,74,21,53,66,66
35,1994,Galatasaray,30,22,4,4,67,28,39,70,70
36,1995,Besiktas,34,24,7,3,80,26,54,79,79
37,1996,Fenerbahce,34,26,6,2,68,19,49,84,84
38,1997,Galatasaray,34,25,7,2,90,30,60,82,82
39,1998,Galatasaray,34,23,6,5,86,43,43,75,75
40,1999,Galatasaray,34,23,9,2,85,30,55,78,78
41,2000,Galatasaray,34,24,7,3,77,23,54,79,79
42,2001,Fenerbahce,34,24,4,6,82,39,43,76,76
43,2002,Galatasaray,34,24,6,4,75,31,44,78,78
44,2003,Besiktas,34,26,7,1,63,21,42,85,85
45,2004,Fenerbahce,34,23,7,4,82,41,41,76,76
46,2005,Fenerbahce,34,26,2,6,77,24,53,80,80
47,2006,Galatasaray,34,26,5,3,82,34,48,83,83
48,2007,Fenerbahce,34,20,10,4,65,31,34,70,70
49,2008,Galatasaray,34,24,7,3,64,23,41,79,79
50,2009,Besiktas,34,21,8,5,60,30,30,71,71
51,2010,Bursaspor,34,23,6,5,65,26,39,75,75
52,2011,Fenerbahce,34,26,4,4,84,34,50,82,82
53,2012,Galatasaray,34,23,8,3,69,24,45,77,77
54,2013,Galatasaray,34,21,8,5,66,35,31,71,71
55,2014,Fenerbahce,34,23,5,6,74,33,41,74,74
56,2015,Galatasaray,34,24,5,5,60,35,25,77,77
57,2016,Besiktas,34,25,4,5,75,35,40,79,79
58,2017,Besiktas,34,23,8,3,73,30,43,77,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75,75

In [20]:
filtre = sampi["points"]==sampi["puanrevize"]
degisim = sampi[filtre]
degisim= degisim.sort_values(by="year")
#degisim = degisim.reset_index() #index resetleme
degisim = degisim.reset_index(drop=True) #index resetleme ve indexi sfrlama
degisim["year"][0]

1988

In [30]:
df = pd.read_csv("spotify.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3589 entries, 0 to 3588
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3589 non-null   int64
 1   Country           3589 non-null   object
 2   Track Name        3583 non-null   object
 3   Artist Name       3583 non-null   object
 4   Album Name        3583 non-null   object
 5   Popularity        3589 non-null   int64
 6   Date              3589 non-null   object
 7   Markets           3589 non-null   object
 8   Danceability      3589 non-null   float64
 9   Acousticness      3589 non-null   float64
 10  duration          3589 non-null   int64
 11  Energy            3589 non-null   float64
 12  Instrumentalness  3589 non-null   float64
 13  Key               3589 non-null   int64
 14  Liveness          3589 non-null   float64
 15  Loudness          3589 non-null   float64
 16  Mode              3589 non-null   int64
 17  Speechiness       3589 non-null   float64
 18  Tempo             3589 non-null   float64
 19  TSignature        3589 non-null   int64
 20  Positiveness      3589 non-null   float64
dtypes: float64(9), int64(6), object(6)
memory usage: 588.9+ KB

In [43]:
filtre = df["Country"] == "TUR"
df[filtre]

,Unnamed: 0,Country,Track Name,Artist Name,Album Name,Popularity,Date,Markets,Danceability,Acousticness,...,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,TSignature,Positiveness
3339,3339,TUR,Atee Dtm,Mert Demir,Atee Dtm,84,2023-09-22,AR,0.657,0.8350,...,0.372,0.013600,4,0.0981,-14.110,0,0.0476,188.011,4,0.919
3340,3340,TUR,Margiela,Ezhel,Margiela,59,2023-10-26,AR,0.776,0.3350,...,0.648,0.000000,1,0.1210,-7.553,1,0.2700,116.145,4,0.584
3341,3341,TUR,Alama ben alarm,Canozan,Alama ben alarm,75,2023-09-29,AR,0.416,0.5530,...,0.473,0.000001,9,0.1680,-9.726,0,0.0351,118.354,3,0.167
3342,3342,TUR,Bertaraf,Canbay & Wolker,SIR,76,2023-09-29,AR,0.724,0.0300,...,0.905,0.000166,8,0.4670,-6.316,1,0.2320,105.043,4,0.710
3343,3343,TUR,aklna ben gelicem,BLOK3,aklna ben gelicem,82,2023-09-22,AR,0.277,0.1480,...,0.546,0.000000,10,0.2440,-10.798,0,0.0620,199.957,4,0.217
3344,3344,TUR,Kehribar,Burak Bulut,Kehribar,78,2023-09-29,AR,0.440,0.5330,...,0.656,0.000000,2,0.0872,-5.548,0,0.2960,100.007,4,0.472
3345,3345,TUR,BELLYDANCING,INJI,BELLYDANCING,72,2023-11-02,AR,0.826,0.0056,...,0.860,0.273000,7,0.4220,-3.914,1,0.1190,121.074,4,0.766
3346,3346,TUR,Fark Ettim,Semicenk,Fark Ettim,71,2023-11-03,AR,0.678,0.0810,...,0.745,0.000000,11,0.1010,-6.986,0,0.1050,106.046,4,0.588
3347,3347,TUR,Can Dostum,Emir Can rek,Parti ptal,78,2023-06-02,AR,0.544,0.1280,...,0.517,0.000009,4,0.1570,-11.557,0,0.0570,93.920,5,0.384
3348,3348,TUR,Laf m Olur,Kibariye,te Ses te Yorum,79,1993-08-13,AR,0.687,0.6450,...,0.650,0.000000,7,0.1150,-11.052,0,0.0837,93.330,4,0.910
3349,3349,TUR,Basit Numaralar,Zerrin zer,Basit Numaralar,81,2023-08-04,AR,0.775,0.5060,...,0.882,0.001240,7,0.0808,-4.560,0,0.3060,154.949,4,0.583
3350,3350,TUR,Mesafe,Semicenk,Mesafe,81,2023-09-01,AR,0.611,0.2870,...,0.776,0.000000,9,0.1670,-4.046,0,0.1360,93.892,4,0.342
3351,3351,TUR,B.,Anl Emre Daldal,B.,76,2023-09-01,AR,0.479,0.1750,...,0.515,0.016200,11,0.1350,-9.840,0,0.0349,139.942,4,0.233
3352,3352,TUR,Gitme,Reynmen,Gitme,78,2023-09-01,AR,0.685,0.0590,...,0.558,0.000000,10,0.0879,-6.527,1,0.1760,123.242,4,0.192
3353,3353,TUR,Yreim Alar,Amo988,Yreim Alar,65,2023-09-15,AR,0.665,0.4380,...,0.577,0.000000,0,0.4210,-9.074,1,0.0644,109.978,4,0.318
3354,3354,TUR,International,Russ Millions,International,79,2023-09-01,AR,0.832,0.6730,...,0.583,0.000000,0,0.2380,-8.913,1,0.3010,140.943,4,0.677
3355,3355,TUR,Caney,UZI,Caney,78,2023-06-16,AR,0.686,0.4430,...,0.620,0.000000,5,0.1270,-8.950,0,0.1380,144.033,4,0.695
3356,3356,TUR,Dizine Dursun,Yldz Tilbe,Dizine Dursun,72,2023-09-22,AR,0.730,0.0765,...,0.780,0.000000,8,0.2930,-6.090,0,0.0799,123.916,4,0.547
3357,3357,TUR,Aman Gzel Yava Yr,Haloday,Aman Gzel Yava Yr,79,2023-06-23,AR,0.762,0.1110,...,0.670,0.000138,7,0.1210,-8.361,1,0.1400,122.061,4,0.634
3358,3358,TUR,Hele Bi (Club Version),Alian,Ve Kimselere Gvenmiyorum,78,2007-02-22,AR,0.770,0.0256,...,0.706,0.000000,11,0.0488,-3.882,0,0.0804,105.013,4,0.873
3359,3359,TUR,Bama Belasn,Aleyna Tilki,Bama Belasn,75,2023-03-17,AR,0.628,0.0206,...,0.592,0.000004,6,0.0658,-7.555,0,0.0455,143.978,4,0.336
3360,3360,TUR,ok Yazk,aan engl,YANGIN,77,2022-10-07,AR,0.356,0.3850,...,0.459,0.000003,3,0.1280,-6.686,0,0.0342,124.100,4,0.143
3361,3361,TUR,Salam Kala,Borqy,Salam Kala,78,2023-08-04,AR,0.828,0.2740,...,0.816,0.000019,9,0.1890,-8.453,0,0.2050,142.002,4,0.713
3362,3362,TUR,Nefes,Derya Ulu,Nefes,76,2023-07-14,AR,0.822,0.2780,...,0.813,0.000000,8,0.1170,-4.599,0,0.1690,104.025,4,0.423
3363,3363,TUR,Anlar Yak,Burcu Gne,Benim Yolum,76,2022-12-16,AR,0.674,0.3170,...,0.516,0.000000,9,0.3690,-5.482,1,0.0921,138.023,4,0.784
3364,3364,TUR,Piman Deilim,Semicenk,Piman Deilim,78,2023-06-02,AR,0.727,0.2790,...,0.619,0.000011,10,0.1280,-10.195,0,0.1340,97.990,4,0.446
3365,3365,TUR,N'aptn bilmesem de,BLOK3,N'aptn bilmesem de,77,2023-06-23,AR,0.356,0.4680,...,0.535,0.000000,9,0.4750,-11.335,0,0.1070,82.971,4,0.228
3366,3366,TUR,IMPARATOR,Sefo,IMPARATOR,75,2023-07-07,AR,0.859,0.2720,...,0.801,0.004620,1,0.1110,-6.081,0,0.1400,119.964,4,0.694
3367,3367,TUR,Cann Sa Olsun,Semicenk,Cann Sa Olsun,77,2023-04-21,AR,0.619,0.0683,...,0.686,0.001170,7,0.4370,-9.631,0,0.0303,120.011,4,0.557
3368,3368,TUR,Olmuum Leyla,Buray,Olmuum Leyla,78,2023-08-11,AR,0.630,0.1430,...,0.665,0.000000,4,0.2390,-6.654,0,0.2840,177.995,4,0.323
3369,3369,TUR,ELLERM BO,M Lisa,ELLERM BO,74,2023-08-04,AR,0.603,0.7130,...,0.390,0.000000,4,0.1150,-9.465,0,0.0877,119.392,4,0.272
3370,3370,TUR,Tanrm Reva M,Semicenk,Tanrm Reva M,77,2023-07-21,AR,0.704,0.1600,...,0.497,0.000002,1,0.0970,-9.597,0,0.1010,169.888,4,0.271
3371,3371,TUR,Sakladn Bir eyler Var,Dedublman,Sakladn Bir eyler Var,75,2021-07-16,AR,0.473,0.1900,...,0.839,0.000253,1,0.0714,-7.837,0,0.0399,100.033,4,0.411
3372,3372,TUR,RESTORAN,Motive,ROMANTK,73,2023-06-16,AR,0.614,0.6800,...,0.455,0.000076,4,0.2890,-10.389,0,0.2930,103.113,4,0.468
3373,3373,TUR,Tvbe,Derya Bedavac,Tvbe,75,2023-07-01,AR,0.675,0.2170,...,0.739,0.000000,9,0.2810,-4.923,0,0.0717,141.932,4,0.421
3374,3374,TUR,Al Aramzdan,KFN,POPSTAR,67,2023-06-16,AR,0.622,0.1020,...,0.699,0.000000,6,0.2600,-8.539,0,0.0404,94.001,4,0.453
3375,3375,TUR,Tutun Sen Bana,Yzyzeyken Konuuruz,KADER SK.,74,2023-07-07,AR,0.549,0.5860,...,0.502,0.000016,6,0.0953,-8.674,0,0.0385,160.009,4,0.746
3376,3376,TUR,Geri Dnemedim,Semicenk,Geri Dnemedim,76,2023-05-05,AR,0.712,0.2970,...,0.695,0.000000,3,0.0937,-4.340,0,0.1340,159.943,4,0.523
3377,3377,TUR,Dldl,Mabel Matiz,Fatih,69,2023-07-21,AR,0.562,0.0372,...,0.859,0.000003,5,0.0953,-6.535,0,0.0331,157.954,4,0.853
3378,3378,TUR,Hoakal,Ati242,Hoakal,70,2023-10-27,AR,0.750,0.0366,...,0.780,0.005080,7,0.4750,-5.691,0,0.2120,140.090,4,0.367
3379,3379,TUR,BAYBAY,BLOK3,BAYBAY,77,2023-03-17,AR,0.724,0.2160,...,0.569,0.002320,3,0.1520,-10.431,0,0.1350,145.009,4,0.775
3380,3380,TUR,Akn Olaym,Simge,Ben Bazen,76,2018-06-01,AR,0.556,0.2300,...,0.582,0.000000,5,0.3270,-8.368,0,0.0414,75.976,4,0.561
3381,3381,TUR,Uzun Lafn Ksas,Ozan Doulu,130 Bpm Forte,62,2017-06-28,AR,0.721,0.0316,...,0.877,0.000000,11,0.2660,-3.890,0,0.0789,129.958,4,0.721
3382,3382,TUR,Manolya,Kurtulu Ku,Manolya,77,2023-07-07,AR,0.603,0.4670,...,0.645,0.000000,9,0.1200,-6.392,0,0.1380,91.004,4,0.396
3383,3383,TUR,Sahici,Beng,kinci Hal,69,2014-10-17,AR,0.697,0.1680,...,0.776,0.000000,8,0.0512,-4.052,1,0.0464,102.090,4,0.715
3384,3384,TUR,Rya Gibi,Dedublman,Rya Gibi,71,2023-10-13,AR,0.471,0.0629,...,0.726,0.071900,11,0.2960,-8.061,0,0.0433,120.035,4,0.475
3385,3385,TUR,Bir Derdim Var,mor ve tesi,Dnya Yalan Sylyor,73,2004-04-16,AR,0.586,0.0120,...,0.890,0.005080,11,0.1140,-1.988,0,0.0369,119.062,4,0.426
3386,3386,TUR,ARABA,Sefo,ARABA,76,2023-06-09,AR,0.866,0.1690,...,0.813,0.000000,10,0.0708,-5.164,0,0.0651,110.992,4,0.403
3387,3387,TUR,Diva Yorgun,Melike ahin,Diva Yorgun,76,2023-06-16,AR,0.616,0.3290,...,0.882,0.000002,5,0.1910,-6.568,1,0.0894,134.046,4,0.639
3388,3388,TUR,Yalanc Bahar - Nostalgia Sessions,Selin,Nostalgia Sessions,76,2023-06-05,AR,0.363,0.4300,...,0.435,0.000000,5,0.4510,-13.529,0,0.0315,78.097,4,0.587

In [42]:
sayi =df["Country"].value_counts()
sayi = pd.DataFrame(sayi)
sayi

        Country
Global       50
MYS          50
NZL          50
NOR          50
NGA          50
...         ...
PHL          50
EST          50
USA          50
ESP          50
LUX          39

[72 rows x 1 columns]

In [45]:
filtre = df["Country"] == "TUR"
tr = df[filtre]
tr = tr.sort_values(by="Popularity",ascending=False)
tr.head(3)

,Unnamed: 0,Country,Track Name,Artist Name,Album Name,Popularity,Date,Markets,Danceability,Acousticness,...,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,TSignature,Positiveness
3339,3339,TUR,Atee Dtm,Mert Demir,Atee Dtm,84,2023-09-22,AR,0.657,0.835,...,0.372,0.01360,4,0.0981,-14.110,0,0.0476,188.011,4,0.919
3343,3343,TUR,aklna ben gelicem,BLOK3,aklna ben gelicem,82,2023-09-22,AR,0.277,0.148,...,0.546,0.00000,10,0.2440,-10.798,0,0.0620,199.957,4,0.217
3349,3349,TUR,Basit Numaralar,Zerrin zer,Basit Numaralar,81,2023-08-04,AR,0.775,0.506,...,0.882,0.00124,7,0.0808,-4.560,0,0.3060,154.949,4,0.583

In [50]:
filtre = df["Country"] == "TUR"
tr = df[filtre]
tr = tr.sort_values(by=["Popularity", "Energy"],ascending=False)
tr.to_excel("trspotify.xlsx")

In [51]:
df["Artist Name"].value_counts()

Bad Bunny                        163
Jung Kook                        147
Taylor Swift                     118
KAROL G                           62
Doja Cat                          56
                                ...
Jazzy                              1
Richy Mitch & The Coal Miners      1
The Cranberries                    1
Hannah Laing                       1
JustaTee                           1
Name: Artist Name, Length: 1157, dtype: int64

In [54]:
arac = pd.read_html("https://tr.wikipedia.org/wiki/%C3%9Clkelere_g%C3%B6re_ara%C3%A7_say%C4%B1s%C4%B1_listesi")
arac[2]

       #                  lke  1000 kiiye den ara    Notlar
0      1            San Marino                    1263   2010[2]
1      2                Monako                     899   2008[2]
2      3                   ABD                     797   2010[2]
3      4           Lihtentayn                     750   2010[2]
4      5               zlanda                     745   2010[2]
..   ...                   ...                     ...       ...
186  177               Liberya                       3   2007[2]
187  177             Banglade                       3   2010[2]
188  177                   NaN                       3  2004[31]
189  182  So Tom ve Prncipe                       2   2007[2]
190  182                  Togo                       2   2007[2]

[191 rows x 4 columns]

In [68]:
link = ("https://tr.wikipedia.org/wiki/%C3%9Clkelere_g%C3%B6re_ara%C3%A7_say%C4%B1s%C4%B1_listesi")

arac = pd.read_html(link)[2]
arac.head(3)

   #        lke  1000 kiiye den ara   Notlar
0  1  San Marino                    1263  2010[2]
1  2      Monako                     899  2008[2]
2  3         ABD                     797  2010[2]

In [56]:
arac = arac[['lke','1000 kiiye den ara','Notlar']] #istediimiz stunlar seme

In [57]:
arac.columns=["lke","Adet","Yl"] #Stun ismi dzenleme

In [58]:
arac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lke    190 non-null    object
 1   Adet    191 non-null    int64
 2   Yl     191 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [63]:
arac["Yl"].str.split("[")
#arac["Yl"].str.split("[",expand=True)
#arac["Yl"].str.split("[",expand=True)[0]

0       [2010, 2]]
1       [2008, 2]]
2       [2010, 2]]
3       [2010, 2]]
4       [2010, 2]]
          ...
186     [2007, 2]]
187     [2010, 2]]
188    [2004, 31]]
189     [2007, 2]]
190     [2007, 2]]
Name: Yl, Length: 191, dtype: object

In [64]:
arac["Yl"].str.split("[",expand=True)

        0    1     2
0    2010   2]  None
1    2008   2]  None
2    2010   2]  None
3    2010   2]  None
4    2010   2]  None
..    ...  ...   ...
186  2007   2]  None
187  2010   2]  None
188  2004  31]  None
189  2007   2]  None
190  2007   2]  None

[191 rows x 3 columns]

In [65]:
arac["Yl"].str.split("[",expand=True)[0]

0      2010
1      2008
2      2010
3      2010
4      2010
       ...
186    2007
187    2010
188    2004
189    2007
190    2007
Name: 0, Length: 191, dtype: object

In [67]:
arac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lke    190 non-null    object
 1   Adet    191 non-null    int64
 2   Yl     191 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [69]:
link = ("https://en.wikipedia.org/wiki/List_of_countries_by_vehicles_per_capita")

arac = pd.read_html(link)[0]
arac.head(3)

  Country or region  Motor vehicles per 1,000 people  Total     Year
0         Gibraltar                             1444  48641  2022[1]
1          Guernsey                             1365  86000  2014[2]
2        San Marino                             1300  44200  2022[3]

In [74]:
rank = pd.read_csv("rank.csv")
rank.head(1)

,Rank,Logo,Name,Link,Website,Flag,Country,Region,Foundation_year,Address,Intro,Total_Enrollment,Total_International_Enrollment,UG_Enrollment,International_UG_Enrollment,PG_Enrollment,International_PG_Enrollment,latitude,longitude
0,1,https://www.shanghairanking.com/_uni/logo/032b...,Harvard University,https://www.shanghairanking.com/institution/ha...,http://www.harvard.edu,https://www.shanghairanking.com/_pub/country-f...,United States,North America,1636,"Harvard University, Cambridge, Massachusetts ...",Harvard University is devoted to excellence in...,41987,24.0,14467,10.1,27520,20.1,42.367909,-71.126782

In [83]:
rank = pd.read_csv("rank.csv")
rank = rank[["Rank","Name","Country","Region","Foundation_year","Total_Enrollment"]]
#rank.head(3)
tr = rank[rank["Country"] == " Turkey"]
tr

,Rank,Name,Country,Region,Foundation_year,Total_Enrollment
419,401-500,Istanbul University,Turkey,Asia,1453,59250
679,601-700,University of Health Sciences Turkey,Turkey,Asia,1903,27010
720,701-800,Hacettepe University,Turkey,Asia,1967,47035
726,701-800,Istanbul Technical University,Turkey,Asia,1773,36581
805,801-900,Ankara University,Turkey,Asia,1946,69737
914,901-1000,Ege University,Turkey,Asia,0,46056
915,901-1000,Erciyes University,Turkey,Asia,1978,39178
920,901-1000,Gazi University,Turkey,Asia,1926,37388

In [89]:
rank["Country"].unique()

array(['United States', 'United Kingdom', 'France', 'Switzerland',
       'China', 'Canada', 'Japan', 'Denmark', 'Australia', 'Sweden',
       'Netherlands', 'Germany', 'Israel', 'Singapore', 'Norway',
       'Belgium', 'China-Hong Kong', 'South Korea', 'Saudi Arabia',
       'Russia', 'Italy', 'Finland', 'Brazil', 'Austria', 'China-Taiwan',
       'New Zealand', 'Ireland', 'Mexico', 'Spain', 'Argentina',
       'South Africa', 'Portugal', 'Egypt', 'Czech Republic', 'India',
       'Greece', 'Serbia', 'China-Macau', 'Turkey', 'Poland', 'Chile',
       'Malaysia', 'Iran', 'Croatia', 'Thailand', 'Pakistan', 'Hungary',
       'Qatar', 'Lithuania', 'Ethiopia', 'Iceland', 'Slovenia',
       'Luxembourg', 'Lebanon', 'Cyprus', 'Estonia',
       'United Arab Emirates', 'Jordan', 'Slovakia', 'Colombia', 'Ghana',
       'Tunisia'], dtype=object)

In [85]:
rank["Country"] = rank["Country"].str.strip() #Bataki ve sondaki boluklar kaldrr(excel'deki krp)

In [88]:
rank["Country"].unique()

array(['United States', 'United Kingdom', 'France', 'Switzerland',
       'China', 'Canada', 'Japan', 'Denmark', 'Australia', 'Sweden',
       'Netherlands', 'Germany', 'Israel', 'Singapore', 'Norway',
       'Belgium', 'China-Hong Kong', 'South Korea', 'Saudi Arabia',
       'Russia', 'Italy', 'Finland', 'Brazil', 'Austria', 'China-Taiwan',
       'New Zealand', 'Ireland', 'Mexico', 'Spain', 'Argentina',
       'South Africa', 'Portugal', 'Egypt', 'Czech Republic', 'India',
       'Greece', 'Serbia', 'China-Macau', 'Turkey', 'Poland', 'Chile',
       'Malaysia', 'Iran', 'Croatia', 'Thailand', 'Pakistan', 'Hungary',
       'Qatar', 'Lithuania', 'Ethiopia', 'Iceland', 'Slovenia',
       'Luxembourg', 'Lebanon', 'Cyprus', 'Estonia',
       'United Arab Emirates', 'Jordan', 'Slovakia', 'Colombia', 'Ghana',
       'Tunisia'], dtype=object)

In [100]:
df = pd.read_csv("dev.csv")
df.head(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9947 entries, 0 to 9946
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 9947 non-null   int64
 1   Country              9947 non-null   object
 2   Region               9947 non-null   object
 3   SubRegion            9947 non-null   object
 4   IntermRegion         4214 non-null   object
 5   SurfAreaSqKm         9900 non-null   float64
 6   PopDens              9297 non-null   float64
 7   PopGrowth%           9929 non-null   float64
 8   GDP                  8668 non-null   float64
 9   GDPGrowth%           8424 non-null   float64
 10  AdolFertRate         9947 non-null   float64
 11  AgriValAdd%GDP       7496 non-null   float64
 12  DomCredit%GDP        1185 non-null   float64
 13  Exports%GDP          7434 non-null   float64
 14  FertRate             9746 non-null   float64
 15  FDINetBoP            8557 non-null   float64
 16  GNI/CapAtlas         7867 non-null   float64
 17  GNIAtlas             7868 non-null   float64
 18  GrossCapForm%GDP     7179 non-null   float64
 19  Imports%GDP          7434 non-null   float64
 20  IndValAdd%GDP        7445 non-null   float64
 21  InflConsPric%        8397 non-null   float64
 22  LifeExpBirth         9740 non-null   float64
 23  MerchTrade%GDP       8333 non-null   float64
 24  MilExp%GDP           6433 non-null   float64
 25  MobileSubs/100       9196 non-null   float64
 26  MortRateU5           9133 non-null   float64
 27  NetMigr              9947 non-null   float64
 28  PopTotal             9930 non-null   float64
 29  RevenueExGrants%GDP  4174 non-null   float64
 30  SchEnrollPrim%       7930 non-null   float64
 31  TaxRevenue%GDP       4228 non-null   float64
 32  UrbanPopGrowth%      9929 non-null   float64
dtypes: float64(28), int64(1), object(4)
memory usage: 2.5+ MB

In [101]:
df["perGDP"] = df["GDP"]/df["PopTotal"]
df.head(3)
df = df[["Year","Country","GDP","PopTotal","perGDP"]]
df.head(3)

   Year      Country           GDP    PopTotal       perGDP
0  1973  Afghanistan  1.733333e+09  11575305.0   149.744068
1  1973  Netherlands  7.184091e+10  13439322.0  5345.575444
2  1973       Poland           NaN  33357200.0          NaN

In [102]:
df[df["Country"]=="Turkiye"]

      Year  Country           GDP    PopTotal        perGDP
80    1973  Turkiye  2.572438e+10  38028236.0    676.454770
259   1974  Turkiye  3.559970e+10  38863420.0    916.020793
460   1975  Turkiye  4.463345e+10  39673590.0   1125.016660
651   1976  Turkiye  5.127987e+10  40500997.0   1266.138420
988   1977  Turkiye  5.867600e+10  41385656.0   1417.785883
1129  1978  Turkiye  6.514658e+10  42292206.0   1540.391989
1357  1979  Turkiye  8.939265e+10  43187476.0   2069.874318
1515  1980  Turkiye  6.878921e+10  44089069.0   1560.232859
1799  1981  Turkiye  7.104029e+10  44981877.0   1579.309069
1991  1982  Turkiye  6.454617e+10  45949991.0   1404.704674
2052  1983  Turkiye  6.167826e+10  47026425.0   1311.565940
2340  1984  Turkiye  5.999026e+10  48106764.0   1247.023473
2564  1985  Turkiye  6.723494e+10  49175673.0   1367.239804
2741  1986  Turkiye  7.572781e+10  50223885.0   1507.804772
2968  1987  Turkiye  8.716830e+10  51250152.0   1700.839796
3054  1988  Turkiye  9.085308e+10  52275890.0   1737.953771
3381  1989  Turkiye  1.071434e+11  53305234.0   2009.997569
3480  1990  Turkiye  1.506762e+11  54324142.0   2773.650706
3686  1991  Turkiye  1.510414e+11  55321172.0   2730.263904
3858  1992  Turkiye  1.590950e+11  56302037.0   2825.740964
4206  1993  Turkiye  1.804219e+11  57296008.0   3148.942981
4373  1994  Turkiye  1.306519e+11  58310245.0   2240.633321
4599  1995  Turkiye  1.693194e+11  59305490.0   2855.036765
4857  1996  Turkiye  1.814647e+11  60293786.0   3009.674170
4886  1997  Turkiye  1.898784e+11  61277426.0   3098.668013
5116  1998  Turkiye  2.759417e+11  62242204.0   4433.354034
5278  1999  Turkiye  2.563960e+11  63185615.0   4057.822081
5484  2000  Turkiye  2.742948e+11  64113547.0   4278.266534
5687  2001  Turkiye  2.017531e+11  65072018.0   3100.458788
5968  2002  Turkiye  2.402490e+11  65988663.0   3640.761830
6217  2003  Turkiye  3.145955e+11  66867327.0   4704.772010
6370  2004  Turkiye  4.088654e+11  67785075.0   6031.790310
6537  2005  Turkiye  5.063147e+11  68704715.0   7369.431295
6876  2006  Turkiye  5.570760e+11  69601333.0   8003.812177
6968  2007  Turkiye  6.813212e+11  70468869.0   9668.399443
7194  2008  Turkiye  7.704493e+11  71320726.0  10802.600478
7377  2009  Turkiye  6.492894e+11  72225639.0   8989.735883
7547  2010  Turkiye  7.769675e+11  73195345.0  10614.984570
7765  2011  Turkiye  8.387855e+11  74173854.0  11308.371735
7961  2012  Turkiye  8.805559e+11  75277439.0  11697.474362
8279  2013  Turkiye  9.577990e+11  76576117.0  12507.803158
8456  2014  Turkiye  9.389344e+11  78112073.0  12020.349659
8625  2015  Turkiye  8.643140e+11  79646178.0  10851.920107
8839  2016  Turkiye  8.696830e+11  81019394.0  10734.256469
8945  2017  Turkiye  8.589886e+11  82089826.0  10464.007790
9298  2018  Turkiye  7.784767e+11  82809304.0   9400.836337
9514  2019  Turkiye  7.599348e+11  83481684.0   9103.012397
9703  2020  Turkiye  7.202888e+11  84135428.0   8561.064333
9760  2021  Turkiye  8.190345e+11  84775404.0   9661.227734

In [108]:
df2021 = df[df["Year"]==2021]
df2021 = df2021.sort_values(by="perGDP",ascending=False)
df2021.head(20)

      Year         Country           GDP     PopTotal         perGDP
9858  2021   Liechtenstein  7.186429e+09      39039.0  184083.321374
9848  2021      Luxembourg  8.550624e+10     640064.0  133590.146976
9863  2021         Bermuda  7.127200e+09      63764.0  111774.669092
9770  2021         Ireland  5.041826e+11    5033165.0  100172.079253
9772  2021     Switzerland  8.006402e+11    8703405.0   91991.600458
9766  2021          Norway  4.902934e+11    5408320.0   90655.391023
9750  2021  Cayman Islands  6.028374e+09      68136.0   88475.600879
9764  2021       Singapore  4.237970e+11    5453566.0   77710.069957
9919  2021   United States  2.331508e+13  332031554.0   70219.472454
9785  2021   Faroe Islands  3.649879e+09      52889.0   69010.166201
9909  2021         Iceland  2.555264e+10     372520.0   68594.008104
9771  2021         Denmark  3.983033e+11    5856733.0   68007.756673
9753  2021           Qatar  1.796771e+11    2688235.0   66838.327641
9799  2021          Sweden  6.368562e+11   10415811.0   61143.221243
9915  2021       Australia  1.552703e+12   25688079.0   60444.502355
9869  2021     Netherlands  1.011799e+12   17533044.0   57708.111213
9780  2021       Greenland  3.235816e+09      56653.0   57116.413872
9907  2021         Austria  4.803684e+11    8955797.0   53637.705711
9820  2021         Finland  2.963876e+11    5541017.0   53489.752019
9897  2021          Canada  2.001487e+12   38226498.0   52358.621641

In [110]:
df2021 = df2021.reset_index(drop=True)
filtre = df2021["Country"]=="Turkiye"
df2021[filtre]

    Year  Country           GDP    PopTotal       perGDP
80  2021  Turkiye  8.190345e+11  84775404.0  9661.227734