<a href="https://colab.research.google.com/github/elanozturk/python/blob/main/Python_6_hafta_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ÖDEV 2
#https://api.coincap.io/v2/assets
#coinfiyat("BTC") bu fonksiyonda verilen coin parametresine göre usd bazında fiyatı getirsin
#Arkadaşlar derste coinfiyat("bitcoin") şeklinde yapalım demiştim ama bu gereksiz zorlayıcı olur diye soruyu düzelttim coininin sembolünü yazmamız yeterli olsun.

In [ ]:
import requests

def coinfiyat(a):
  r=requests.get("https://api.coincap.io/v2/assets")
  veri= r.json()
  veri = veri.get("data")
  fiyatlar = {}

  for i in veri:
    sembol = i["symbol"]
    price = float(i["priceUsd"])
    fiyatlar[sembol]=price
  return fiyatlar.get(a)

In [ ]:
coinfiyat("ETH")

2196.081740835907

In [ ]:
import requests

def coinfiyat(a):
  r=requests.get("https://api.coincap.io/v2/assets")
  veri= r.json()
  veri = veri.get("data")

  for i in veri:
    if a == i["symbol"]:
      price = float(i["priceUsd"])
  return price

In [ ]:
coinfiyat("ETH")

2193.42714709864

In [ ]:
#VERİTABANI SQL

import sqlite3

conn = sqlite3.connect("damla.sqlite") #bu isimde veritabanı varsa bağlanır yoksa oluşturup bağlanır

c = conn.cursor()

In [ ]:
c.execute("""CREATE TABLE IF NOT EXISTS cihazlar(
  isim TEXT,
  personel TEXT,
  marka TEXT,
  model TEXT,
  ssd INTEGER,
  ram INTEGER,
  fiyat REAL
)""")

conn.commit() #veritabanına kaydetme

In [ ]:
# CRUD İşlemleri
#CREATE (INSERT)
#READ (SELECT)
#UPDATE (REPLACE)
#DELETE

In [ ]:
c.execute("""INSERT INTO cihazlar VALUES(
    'Mahmut Tuncer',
    'Furkan Kazan',
    'Apple',
    'Iphone 13 Pro Max',
    256,
    16,
   20000
    )""")

conn.commit()

In [ ]:
c.execute("""INSERT INTO cihazlar VALUES(
    'Tarkan',
    'Furkan Kazan',
    'Apple',
    'Iphone 15 Pro Max',
    512,
    32,
    80000
    )""")

conn.commit()

In [ ]:
c.execute("SELECT * FROM cihazlar")

sonuc=c.fetchall()

sonuc

[('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0)]

In [ ]:
def cihazekle(isim,personel,marka,model,ssd,ram,fiyat):
  conn = sqlite3.connect("damla.sqlite") #bu isimde veritabanı varsa bağlanır yoksa oluşturup bağlanır
  c = conn.cursor()
  c.execute("INSERT INTO cihazlar VALUES(?,?,?,?,?,?,?)",
            (isim,personel,marka,model,ssd,ram,fiyat))
  conn.commit()

In [ ]:
cihazekle('Ajdar','Gökhan','Samsung','S24',256,16,10000)

In [ ]:
c.execute("SELECT * FROM cihazlar")

sonuc=c.fetchall()

sonuc

[('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0),
 ('Ajdar', 'Gökhan', 'Samsung', 'S24', 256, 16, 10000.0)]

In [ ]:
def verigetir(tabloisim):
  conn = sqlite3.connect("damla.sqlite") #bu isimde veritabanı varsa bağlanır yoksa oluşturup bağlanır
  c = conn.cursor()
  komut = "SELECT * FROM "+tabloisim
  c.execute(komut)
  return c.fetchall()

In [ ]:
verigetir("cihazlar")

[('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Mahmut Tuncer',
  'Furkan Kazan',
  'Apple',
  'Iphone 13 Pro Max',
  256,
  16,
  20000.0),
 ('Tarkan', 'Furkan Kazan', 'Apple', 'Iphone 15 Pro Max', 512, 32, 80000.0),
 ('Ajdar', 'Gökhan', 'Samsung', 'S24', 256, 16, 10000.0)]

In [ ]:
# ÖDEV 1
#SQL CRUD İşlemleri youtube izleyin
#https://www.youtube.com/watch?v=OwJRqwok1gs&t=580s

In [ ]:
import sqlite3
conn = sqlite3.connect("doga.sqlite")
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS ozdeyisler(isim TEXT, soz TEXT, yil INTEGER)")
conn.commit()

In [ ]:
c.execute("INSERT INTO ozdeyisler VALUES('Tarkan', 'İşte kuzu kuzu geldim',2001)")
conn.commit

In [ ]:
c.execute("SELECT * FROM ozdeyisler")
c.fetchall()

[('Tarkan', 'İşte kuzu kuzu geldim', 2001),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Cemal Süreya', 'Adımın bir harfini atıyorum', 1956)]

In [ ]:
c.execute("INSERT INTO ozdeyisler VALUES('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık',2007)")
conn.commit()

In [ ]:
#SQL İnjection'dan kaçınma yöntemi (Daha Güvenli Yöntem)

c.execute("INSERT INTO ozdeyisler VALUES(?,?,?)",('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık',2007))
conn.commit()

In [ ]:
c.execute("INSERT INTO ozdeyisler VALUES(?,?,?)",('Cemal Süreya', 'Adımın bir harfini atıyorum',1956))
conn.commit()

In [ ]:
c.execute("SELECT * FROM ozdeyisler")
c.fetchall()

[('Tarkan', 'İşte kuzu kuzu geldim', 2001),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Cemal Süreya', 'Adımın bir harfini atıyorum', 1956)]

In [ ]:
c.execute("SELECT * FROM ozdeyisler ORDER BY yil DESC") #Descending
c.fetchall()

[('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Tarkan', 'İşte kuzu kuzu geldim', 2001),
 ('Cemal Süreya', 'Adımın bir harfini atıyorum', 1956)]

In [ ]:
c.execute("DELETE FROM ozdeyisler WHERE isim='Tarkan'")
conn.commit()

In [ ]:
c.execute("SELECT * FROM ozdeyisler")
c.fetchall()

[('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Serdar Ortaç', 'Seni çöpe atacağım poşete yazık', 2007),
 ('Cemal Süreya', 'Adımın bir harfini atıyorum', 1956)]

In [ ]:
#Pycharm Demirbaş (main.py sayfası)
"""
import streamlit as st
import sqlite3

conn = sqlite3.connect("demirbasveri.sqlite")
c = conn.cursor()

st.title("Dasboard")
"""

In [ ]:
#Pycharm Demirbaş (demirbasekle.py sayfası)
"""
import streamlit as st
import sqlite3

conn = sqlite3.connect("demirbasveri.sqlite")
c = conn.cursor()
c.execute("""CREATE TABLE IF NOT EXISTS demirbaslar(
    isim TEXT,
    kod TEXT,
    fiyat REAL,
    sure INTEGER,
    tarih TEXT
    )""")
conn.commit()

st.title("Demirbaş Ekle")

with st.form("demirbasekle",clear_on_submit=True):
    isim = st.text_input("Demirbaş İsmi")
    kod = st.text_input("Demirbaş Kodu")
    fiyat = st.number_input("Fiyatı")
    sure =  st.selectbox("Amortisman Süresi",[3,5,10])
    tarih = st.date_input("Satın Alma Tarihi")
    ekle = st.form_submit_button("Demirbaş Ekle")
    if ekle:
        c.execute("INSERT INTO demirbaslar VALUES(?,?,?,?,?)",
                  (isim,kod,fiyat,sure,tarih))
        conn.commit()
        st.success("Demirbaş Başarıyla Kaydedildi")
"""

In [ ]:
#Pycharm Demirbaş (demirbaslar.py sayfası)
"""
import streamlit as st
import sqlite3
import pandas as pd

conn = sqlite3.connect("demirbasveri.sqlite")
c = conn.cursor()

c.execute("SELECT * FROM demirbaslar")
sonuc = c.fetchall()

tablo = pd.DataFrame(sonuc)
tablo.columns = ["İsim","Kod","Fiyat","Süre","Tarih"]

st.table(tablo)

st.snow()
"""

In [ ]:
#SET (KÜME)

sayilar = [1,1,2,3,4,5,5]


len(sayilar)

7

In [ ]:
sayilar2 = set(sayilar)

sayilar2

{1, 2, 3, 4, 5}

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
sayilar2.remove(4)

In [ ]:
sayilar2

{3, 5}

In [ ]:
sayilar = {1,7,9,12,15}
sayilar2 = {1,7,9,12,15,18,19}

sayilar.issubset(sayilar2)

True

In [ ]:
#ÖDEV Video İzleme

#https://www.youtube.com/watch?v=64lQAVfWkwY&list=PL3ED48mWmYxrX1gBE6pz2J0tMkw5lBUQ-